<%= render 'jiros/edit_jiro_navi_bar', jiro_id: @jiro.id %>

<%= form_with(model: @business_hours, url: jiro_business_hours_path, method: :patch, local: true) do |form| %>
  <table>
  <% @business_hours.each_with_index do |business_hour, idx| %>
    <%= form.fields_for("business_hour[]", business_hour) do |bh| %>
      <tr>
        <th><%= show_wday(idx) %></th>
        <th><%= show_lunch_or_dinner(idx) %></th>
        <td>
          <label class='form-label form-switch'>
            <%= bh.check_box(:is_holiday,{ class: 'form-label form-switch' }, true, false) %>定休
          </label>
        </td>
        <td>
          <label><%= bh.hidden_field(:category, value: business_hour.category) %></label>
        </td>
        <td>
          <label><%= bh.time_field(:start_at) %></label>
          〜<label><%= bh.time_field(:end_at) %></label>
        </td>
      </tr>  
    <% end %>
  <% end %>
  </table>
  <%= form.submit "登録" %>
<% end %>
