<H3>基本情報</H3>
  <%= form_with(model: @jiro, url: jiros_path, local: true) do |f| %>
    <table class="table">
    <%= render 'image_uploader', jiro: @jiro %>
    <button type="button" class="btn btn-outline-secondary rounded-pill">
      <%= f.file_field :image, accept: 'image/jpeg,image/gif,image/png', class: "image-select-btn" %>
    </button>
    <tr>
      <th><%= f.label :name, "店鋪名" %></th>
      <td><%= f.text_field(:name, class: "name", size: 30, placeholder: '例：ラーメン二郎 三田本店') %></td>
    </tr>
    <tr>
      <th><%= f.label :address, "住所" %></th>
      <td><%= f.text_field(:address, class: "address", size: 40, placeholder: '例：東京都港区三田２丁目１６−４') %></td>
    </tr>
    <tr>
      <th><%= f.label :access, "アクセス" %></th>
      <td><%= f.text_area(:access, class: "access", size: "40*50", placeholder: '例：都営地下鉄 浅草線・三田線「三田駅」A3出口より徒歩8分/JR山手線・京浜東北線「田町駅」三田口（西口）より徒歩10分/三田駅から541m') %></td>
    </tr>
    <tr>
      <th><%= f.label :is_parking_area, "駐車場" %></th>
      <td>
        <label><%= f.radio_button(:is_parking_area, true, class: "is_parking_area") %>あり</label>
        <label><%= f.radio_button(:is_parking_area, false, class: "is_parking_area") %>なし</label>
      </td>
    </tr>
    <tr>
      <th><%= f.label :phone_number, "電話番号" %></th>
      <td><%= f.telephone_field(:phone_number, class: "phone_number", size: 30, placeholder: 'ハイフンなし(半角数字)')%></td>
    </tr>
    <tr>
      <th><%= f.label :hp_url, "Twitter" %></th>
      <td><%= f.url_field(:hp_url, class: "hp_url", size: 30, placeholder: 'https://twitter.com/○○○')%></td>
    </tr>
    <tr>
      <th><%= f.label :seat_count, "店内席数" %></th>
      <td><%= f.number_field(:seat_count, class: "seat_count", min: 0) %>席</td>
    </tr>
    <tr>
      <th><%= f.label :payment_method, "支払方法" %></th>
      <td>
        <label><%= f.radio_button(:payment_method, Jiro.payment_methods.keys[0], class: "payment_method", checked: true) %>未設定</label>
        <label><%= f.radio_button(:payment_method, Jiro.payment_methods.keys[1], class: "payment_method") %>現金のみ</label>
        <label><%= f.radio_button(:payment_method, Jiro.payment_methods.keys[2], class: "payment_method") %>現金以外可</label>
      </td>
    </tr>
    <tr>
      <th><%= f.label :how_to_order, "注文方法" %></th>
      <td>
        <label><%= f.radio_button(:how_to_order, Jiro.how_to_orders.keys[0], class: "how_to_order", checked: true) %>未設定</label>
        <label><%= f.radio_button(:how_to_order, Jiro.how_to_orders.keys[1], class: "how_to_order") %>食券制</label>
        <label><%= f.radio_button(:how_to_order, Jiro.how_to_orders.keys[2], class: "how_to_order") %>注文制</label>
      </td>
    </tr>
    <tr>
      <th><%= f.label :call_timing, "トッピングコール" %></th>
      <td>
        <label><%= f.radio_button(:call_timing, Jiro.call_timings.keys[0], class: "call_timing", checked: true) %>未設定</label>
        <label><%= f.radio_button(:call_timing, Jiro.call_timings.keys[1], class: "call_timing") %>食券提出時</label>
        <label><%= f.radio_button(:call_timing, Jiro.call_timings.keys[2], class: "call_timing") %>麺茹で上がり時</label>
      </td>
    </tr>
    </table>
    <%= f.submit "登録" %>
  <% end %>
