<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css">

<%= button_to '食レポ', new_jiro_posts_path(@jiro), method: :get %>
<%= button_to '情報修正', edit_jiro_path(@jiro), method: :get %>

<%= render 'jiros/wanna_eat_button', jiro: @jiro %>
<%= render 'jiros/have_eaten_button', jiro: @jiro %>

<h1>店舗情報</h1>

<ul class="pie_chart">
  <li><%= pie_chart taste_spec(:soup), library: {title: {text: 'スープ'}} %></li>
  <li><%= pie_chart taste_spec(:noodle), library: {title: {text: 'メン'}} %></li>
  <li><%= pie_chart taste_spec(:boiled_vegetable), library: {title: {text: 'ヤサイ'}} %></li>
  <li><%= pie_chart taste_spec(:roasted_pork), library: {title: {text: 'ブタ'}} %></li>
</ul>

<%= render 'jiro_image_icon', jiro: @jiro %>
  <h2>基本情報</h2>
    <table class="table">
      <tr><th>店鋪名：</th>
        <td><%= @jiro.name %></td></tr>
      <tr><th>住所：</th>
        <td><%= @jiro.address %></td></tr>
      <tr><th>アクセス：</th>
        <td><%= @jiro.access %></td></tr>
      <tr><th>駐車場：</th>
        <td><%= exist(@jiro.is_parking_area) %></td></tr>
      <tr><th>TEL：</th>
        <td><%= @jiro.phone_number %></td></tr>
      <tr><th>HP/SNS：</th>
        <td><%= link_to('コチラ', @jiro.hp_url) %></td></tr>
      <tr><th>席数：</th>
        <td><%= @jiro.seat_count %></td></tr>
      <tr><th>支払方法：</th>
        <td><%= @jiro.payment_method_i18n %></td></tr>
      <tr><th>注文方法：</th>
        <td><%= @jiro.how_to_order_i18n %></td></tr>
      <tr><th>コールタイミング：</th>
        <td><%= @jiro.call_timing_i18n %></td></tr>
      </tr>
    </table>

  <h2>店内設備</h2>
    <table border="1" style="border-collapse: collapse">
      <tr>
        <th>レンゲ</th>
        <th>ティッシュ</th>
        <th>紙エプロン</th>
        <th>ウォーターサーバー</th>
        <th>ゴミ箱</th>
        <th>自動販売機</th>
        <th>髪留め</th>
        <th>店内待ち数</th>
      </tr>
      <tr>
        <td><%= exist(@facility.is_renge) %></td>
        <td><%= exist(@facility.is_tissue) %></td>
        <td><%= exist(@facility.is_apron) %></td>
        <td><%= exist(@facility.is_water_server) %></td>
        <td><%= exist(@facility.is_trash_box) %></td>
        <td><%= exist(@facility.is_vending_machine) %></td>
        <td><%= exist(@facility.is_hair_tie) %></td>
        <td><%= show_waiting_seat(@facility.in_store_pending) %></td>
      </tr>
    </table>

  <h2>卓上調味料</h2>
    <p style="text-decoration: underline" ><%= show_one_line_list(@table_seasonings) %></p>
      
  <h2>メインメニュー</h2>
    <% if @main_menus.blank? %>
      <%= '未設定' %>
    <% else %>
      <% @main_menus.each do |main_menu| %>
        <table class="table">
        <% if main_menu.name.present? %>
          <tr><th>名称：</th>
            <td><%= main_menu.name %></td></tr>
          <tr><th>価格：</th>
            <td><%= "#{main_menu.price}円" %></td></tr>
          <tr><th>麺の量：</th>
            <td><%= "#{main_menu.noodle_quantity}g" %></td></tr>
          <tr><th>トッピング：</th>
            <td><%= show_one_line_list(@toppings_list[main_menu.id]) %></td></tr>
          <tr><th>備考：</th>
            <td><%= main_menu.note %></td></tr>
          </tr><br>
        <% end %>  
        </table>
      <% end %>
    <% end %>

    <h2>オプションメニュー</h2>
      <% if @option_menus.blank? %>
        <%= '未設定' %>
      <% else %>
        <% @option_menus.each do |option_menu| %>
          <table class='table'>
            <% if option_menu.name.present? %>
              <tr>
                <th><%= option_menu.name %></th>
                <td><%= "#{option_menu.price}円" %></td>
              </tr>
            <% end %>  
          </table>
        <% end %>
      <% end %>

    <h2>店舗補足情報</h2>
      <%= @jiro.information%>
    
    <h2>営業時間</h2>
      <table class="table">
        <% (0..6).each do |wday| %>
          <tr>
            <th><%= "#{%w[日 月 火 水 木 金 土][wday]}曜日" %></th>
            <% if @business_hour_wdays_list[wday] %>
              <% @business_hour_wdays_list[wday].each do |open_status|%>
                <td><%= show_business_hour(open_status) %></td>
              <% end %>
            <% end %>    
          </tr>
        <% end %>
      </table>

    <% if @posts.present? %>
      <%= render 'posts/display_posts', posts: @posts, current_jirolian: current_jirolian %>
    <% else %>
      <div>この店舗に関する投稿は有りません。</div>  
    <% end %>
