<% posts.each do |post| %>
  <div>
    <%= render 'jirolians/jirolian_image_icon', jirolian: post.jirolian %>
    <a href="/jirolians/<%= post.jirolian.username %>"><%= post.jirolian.username %></a><br>
    <%= post.created_at.strftime('%Y/%m/%d') %>訪問<br>
    <a href="/jiros/<%= post.jiro.id %>"><%= post.jiro.name %></a><br>
    <p><%= post.content %></p>
    <p><%= "並び時間：#{post.wating_time}分" if post.wating_time.present? %></p>
    <p><%= "トッピング：#{post.called}" if post.called.present? %></p>
    <% if jirolian_signed_in? %>
      <div id="favorite_post_buttons_<%= post.id %>">
        <%= render 'favorite_posts/favorite_button', { post: post } %>
      </div>
    <% else %>
      <%= link_to new_jirolian_session_path do %>
        <span class="far fa-heart" aria-hidden="true" style="color: #8899a6;"></span>
      <% end %>
      <%= post.favorite_posts.count %>
    <% end%>
  </div>
  <hr style="border-bottom: 3px double #8899a6;">
<% end %>