<% @posts.each do |post| %>
  <% jiro = Jiro.find(post.jiro_id)%>
  <div>
    <a href="/jirolians/<%= post.jirolian.username %>"><%= post.jirolian.username %></a><br>
    <%= post.created_at.strftime('%Y/%m/%d') %>訪問<br>
    <a href="/jiros/<%= jiro.id %>"><%= jiro.name %></a><br>
    <p><%= post.content %></p>
    <p>トッピング：<%= post.called %></p>
    <% if jirolian_signed_in? %>
      <%= render 'favorite_posts/favorite_button', { jirolian: current_jirolian, post: post } %>
    <% else %>
      <%= link_to new_jirolian_session_path do %>
        <span class="fa fa-heart like-btn" aria-hidden="true" style="color: #8899a6;">
        <%= post.favorite_posts.count %></span>
      <% end %>
    <% end%>
  </div>
  <hr style="border-bottom: 3px double #8899a6;">
<% end %>
