<%= javascript_pack_tag 'jirolian/show' %>

<% if jirolian_signed_in? && @jirolian == current_jirolian %>
  <h1>マイページ</h1>
<% else %>
  <h1>ユーザーページ</h1>
<% end %>

<h2><%= @jirolian.username %></h2>
  <table class="table">
    <tr><th>登録日：</th>
      <td><%= @jirolian.created_at.strftime('%Y.%m.%d') %></td></tr>
    <tr><th>ホーム：</th>
      <td><%= @jirolian.home_jiro %></td></tr>
    <tr><th>自己紹介：</th>
      <td><%= @jirolian.introduction %></td></tr>
    <tr><th>HP/SNS：</th>
      <td><a href="<%=@jirolian.hp_url %>"><%= @jirolian.hp_url %></td></tr>
  </table>

<%= render 'follow_button', jirolian: @jirolian, curretn_jirolian: current_jirolian %>

<% if jirolian_signed_in? && @jirolian == current_jirolian %>
  <div><%= button_to "編集", "/jirolians/#{current_jirolian.username}/edit", method: :get %></div>
<% end %>

<br>

<div class="container">
  <ul class="tab-list">
    <li class="tab tab-active">ジ活</li>
    <li class="tab">食べたい</li>
    <li class="tab">食べた</li>
  </ul>
  <div class="tabbox-contents">
    <div class="tabbox box-show">
      <% @posts.each do |post| %>
        <% jiro = Jiro.find(post.jiro_id)%>
        <div>
          <a href="/jirolians/<%= post.jirolian.username %>"><%= post.jirolian.username %></a><br>
          <%= post.created_at.strftime('%Y/%m/%d') %>訪問<br>
          <a href="/jiros/<%= jiro.id %>"><%= jiro.name %></a><br>
          <p><%= post.content %></p>
          <p>トッピング：<%= post.called %></p>
          <% if jirolian_signed_in? %>
            <%= render 'favorite_posts/favorite_button', { jirolian: current_jirolian, post: post } %>
          <% else %>
            <%= link_to new_jirolian_session_path do %>
              <span class="fa fa-heart like-btn" aria-hidden="true" style="color: #8899a6;">
              <%= post.favorite_posts.count %></span>
            <% end %>
          <% end%>
        </div>
        <hr style="border-bottom: 3px double #8899a6;">
      <% end %>
    </div>
    <div class="tabbox">
      <% @wanna_eat_jiros.each do |jiro| %>
        <table>
          <tr><%=link_to jiro.name, jiro_path(jiro) %></tr>
          <td><%= jiro.address %></td>
        </table>
        <hr style="border-bottom: 3px double #8899a6;">
      <% end %>
    </div>
    <div class="tabbox">
      <% @have_eaten_jiros.each do |jiro| %>
        <table>
          <tr><%=link_to jiro.name, jiro_path(jiro) %></tr>
          <td><%= jiro.address %></td>
        </table>
        <hr style="border-bottom: 3px double #8899a6;">
      <% end %>
    </div>
  </div>
</div>

