<% if jirolian_signed_in? && @jirolian == current_jirolian %>
  <h1>マイページ</h1>
<% else %>
  <h1>ユーザーページ</h1>
<% end %>

<h2><%= @jirolian.username %></h2>
  <table class="table">
    <tr><th>登録日：</th>
      <td><%= @jirolian.created_at.strftime('%Y.%m.%d') %></td></tr>
    <tr><th>ホーム：</th>
      <td><%= @jirolian.home_jiro %></td></tr>
    <tr><th>自己紹介：</th>
      <td><%= @jirolian.introduction %></td></tr>
    <tr><th>HP/SNS：</th>
      <td><a href="<%=@jirolian.hp_url %>"><%= @jirolian.hp_url %></td></tr>
  </table>

<% if jirolian_signed_in? && @jirolian == current_jirolian %>
  <div><%= button_to "編集", "/jirolians/#{current_jirolian.username}/edit", method: :get %></div>
<% end %>

<br>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css">

<% @posts.each do |post| %>
  <% jiro = Jiro.find(post.jiro_id)%>
  <div>
    <a href="/jirolians/<%= post.jirolian.username %>"><%= post.jirolian.username %></a><br>
    <%= post.created_at.strftime('%Y/%m/%d') %>訪問<br>
    <a href="/jiros/<%= jiro.id %>"><%= jiro.name %></a><br>
    <p><%= post.content %></p>
    <p>トッピング：<%= post.called %></p>
    <% if post.favorited_by?(current_jirolian) %>
      <%= link_to post_favorite_posts_path(post), method: :delete do %>
        <span class="fa fa-heart like-btn-unlike"　aria-hidden="true" style="color: #ff2581;"><%= post.favorite_posts.count %></span>
      <% end %>
    <% else %>
      <%= link_to post_favorite_posts_path(post), method: :post do %>
        <span class="fa fa-heart like-btn" aria-hidden="true" style="color: #8899a6;"><%= post.favorite_posts.count %></span>
      <% end %>
    <% end %>
  </div>
  <hr style="border-bottom: 3px double #8899a6;">
<% end %>
