<!DOCTYPE html>
<html>
  <head>
    <title>JiroTabetai</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_pack_tag 'application' %>
    <%= stylesheet_pack_tag 'application' %>
  </head>

  <body>
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
        <h5 class="my-0 mr-md-auto font-weight-normal">Company name</h5>
        <nav class="my-2 my-md-0 mr-md-3">
          <% if jirolian_signed_in? %>
            <%= link_to '施設登録', new_jiro_path %>
            <%= link_to 'ログアウト', destroy_jirolian_session_path, method: :delete %>
          <% else %>
            <%= link_to 'サインアップ', new_jirolian_registration_path %>
            <%= link_to 'ログイン', new_jirolian_session_path %>
          <% end %>
        </nav>
      </div>
      <div class="notifications">
        <% flash.each do |key, value| %>
          <%= content_tag(:div, value, class: key) %>
        <% end %>
      </div>
    <%= yield %>
  </body>
</html>
